<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='form.css') }}">
    <title>Document</title>
</head>
<body>
    {% include 'cabecalho.html' %}
    <h1>Resultados</h1>
    <form action="/resultados" method="post">
		<label for="data">Data:</label>
		<input type="date" id="data" name="data"><br><br>
		<input type="submit" value="Enviar">
	</form>

    <!-- Adicione a div onde o gráfico será exibido -->
    <div id="myPlot" style="width: 60vw;"></div>

    <!-- Adicione o script do Plotly -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- Adicione o script para gerar o gráfico -->
    <script>
    // Obtenha o JSON do gráfico a partir do Flask
    var graphJSON = {{ graphJSON|safe }};

    // Crie o gráfico usando o JSON
    Plotly.newPlot('myPlot', graphJSON.data, graphJSON.layout);
    </script>

</body>
</html>